* {
    margin: 0;
    padding: 0;
    boder: 1px dotted red;
    font-family: "Montserrat", serif;
    font-weight: bold;
}

main {
    height: calc(100vh - 90px);
    background-color: var(--spot-catalouge-bg);
    color: white;
    display: flex;
    overflow-y: auto;
}

footer {
    height: 90px;
    background-color: #282828;
    padding: 5px;
    color: white;
}

a {
    text-decoration: none;
    color: var(--spot-sub-title);
}

:root {
    --spot-title: white;
    --spot-sub-title: #77797e;
    --spot-side-bg: black;
    --spot-upgrade-bg: #080b12;
    --spot-catalouge-bg: #141922;
    --spot-rule: #adff2f;
}

.d-flex {
    display: flex;
}

.albums {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: auto;
    flex-basis: auto;

}

.col-6 {
    width: calc(100% / 12 * 6);
    text-align: center;
}

.col-3 {
    width: calc(100% / 12 * 3);

}

.l-none {
    list-style: none;
}

.d-none {
    display: none;
}

.sub-title {
    color: var(--spot-sub-title);
    font-size: 14px;
    font-weight: bold;
}

.radius-img {
    border-radius: 50%;
}

.rule-index {
    width: 45%;
    background-color: lightgrey;
    color: lightgrey;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    height: 5px;

    &:hover {
        background-color: #adff2f;
    }
}

.fade-card {
    position: relative;

}


.fade-icon {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none !important;
}

.fade-card:hover .fade-icon {
    display: block !important;
}

.hover-white-B:hover {

    color: white;
}


#side-bar {
    width: 50px;
    background-color: var(--spot-side-bg);
    text-align: center;
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    font-size: 14px;


    #logo-lg {
        display: none;
    }

    img {
        max-width: 70%;
        margin-bottom: 10px;

    }

    #side-top {
        .hover-green-l {


            &:hover {
                max-width: 30px;
                margin-left: -1rem;
                border-left: 3px solid #adff2f;
            }
        }
    }

    #playlist {
        display: none;



        h4 {
            margin-bottom: 1rem;
        }

        i {
            padding: 0.5rem;
            color: #080b12;
            background-color: #77797e;
            margin-bottom: 1rem;

            &:hover {
                background-color: white;
            }
        }

        ul {
            margin-bottom: 5rem;
        }


    }

    span {
        display: none;
    }

    #profile {
        img {
            background-color: #77797e;
            border-radius: 50%;
        }
    }

}

#catalouge {
    width: calc(100% - 50px);
    overflow-y: auto;

    ul {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem;

        li {
            &:hover {
                border-bottom: 3px solid #adff2f;
            }
        }
    }



    h2,
    h5 {
        padding-left: 1.7rem;
        margin-bottom: 1rem;
    }

    h4 {
        margin-bottom: 1rem;
    }


}

#upgrade {
    padding: 2rem;
    background-color: var(--spot-upgrade-bg);
    text-align: end;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 100;

    a {
        font-size: 12px;
        color: white;
        text-decoration: none;
        padding: 0.5rem 2rem;
        border: 1px solid white;
        border-radius: 30px;

        &:hover {
            font-size: 15px;
            padding: 0.5rem 2.5rem;
            border: 3px solid white;
        }
    }
}

.albums {
    padding: 1rem;

    .col-6 {
        margin-bottom: 2rem;
    }

    img {
        max-width: 90%;
        margin-bottom: 1rem;
    }

}

footer {
    padding: 1rem;
    font-size: 10px;


    #song {
        align-items: center;
        justify-content: flex-start;
        margin: auto;

        img {
            width: 25%;
            margin-right: 1rem;
        }

        li:last-child {
            color: #77797e;

            &:hover {
                color: white;
                text-decoration: underline;
            }

        }

        i {
            margin-left: 1rem;
            font-size: 14px;
            color: #77797e;

            &:hover {
                color: white;
            }

        }
    }

    #player {
        flex-direction: column;
        align-items: center;
        margin: auto;


        ul {
            gap: 1rem;
            margin-bottom: 1rem;
            color: white;
            font-size: 25px;
            align-items: center;

            li {
                &:hover {
                    font-size: 26px;
                }
            }

            .i-10 {
                font-size: 15px;

                &:hover {
                    font-size: 16px;
                }
            }

        }

        #player-bar {

            li {
                font-size: 10px;
            }

            #player-rule {
                width: 25vw;
                border-radius: 30px;
                margin: 0 1rem;
                background-color: #77797e;
                height: 5px;
            }
        }
    }

    #volume {
        align-items: center;
        justify-content: end;

        ul {
            gap: 1rem;

            li {
                color: white;
            }
        }

        #volume-rule {
            margin-left: 1rem;
            width: 100px;
            height: 5px;
            border-radius: 30px;
            background-color: #77797e;

        }
    }

}

@media screen and (min-width:340px) {

    #song {
        display: none;
    }

    #volume {
        display: none;
    }
}

@media screen and (min-width:444px) {
    #song {
        display: flex;
    }

    #volume {
        display: flex;
    }
}

@media screen and (min-width:576px) {
    #side-bar {
        width: 200px;
        background-color: var(--spot-side-bg);
        text-align: start;
        display: flex;
        padding: 0;
        flex-direction: column;

        #side-top,
        #side-bot {
            padding: 1rem
        }




        #logo-lg {
            display: block;
            max-width: 80%;
            margin-bottom: 2rem;
        }

        img {
            max-width: 15%;
        }

        #logo-sm {
            display: none;
        }

        li>a {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            img {
                margin-right: 1rem;
            }
        }


        #playlist {
            display: block;


        }

        span {
            display: block;
        }

        #side-bot {

            a,
            div {
                display: flex;

                img {
                    margin-right: 1rem;
                }
            }

            #profile {
                margin-top: 1rem;
                padding-top: 1rem;
                border-top: 1px solid #77797e;
            }
        }

    }

    #catalouge {
        width: calc(100% - 200px);
        overflow-y: auto;

        ul {
            gap: 1rem;
            flex-wrap: wrap;
            justify-content: center;
            margin: 2rem;
        }

        h2,
        h5 {
            padding-left: 1.7rem;
            margin-bottom: 1rem;

        }

        h4 {
            margin-bottom: 1rem;
        }
    }
}

@media screen and (min-width:720px) {
    .col-md-3 {
        width: calc(100% / 12 * 3);

    }

    .d-md-flex {
        display: flex;

    }

    #catalouge {

        h2,
        h5 {
            padding-left: 1.5rem;
        }
    }
}

@media screen and (min-width:976px) {

    .col-lg-2 {
        width: calc(100% / 12 * 2);
    }

    footer {
        padding: 1rem;
    }
}