* {
    margin: 0;
    padding: 0;
    boder: 1px dotted red;
    font-family: "Montserrat", serif;
}

main {
    height: calc(100vh - 90px);
    background-color: var(--spot-catalouge-bg);
    color: white;
    display: flex;

}

footer {
    height: 90px;
    background-color: #282828;
    padding: 5px;
    color: white;
}

:root {
    --spot-title: white;
    --spot-sub-title: #77797e;
    --spot-side-bg: black;
    --spot-upgrade-bg: #080b12;
    --spot-catalouge-bg: #141922;
    --spot-rule: #adff2f;
}

.d-flex {
    display: flex;
}

.albums {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: auto;
    flex-basis: auto;

}

.col-6 {
    width: calc(100% / 12 * 6);
    text-align: center;
}

.l-none {
    list-style: none;
}

.d-none {
    display: none;
}

.sub-title {
    color: var(--spot-sub-title);
    font-size: 14px;
    font-weight: bold;
}

.radius-img {
    border-radius: 50%;
}

.rule-index {
    width: 45%;
    background-color: lightgrey;
    color: lightgrey;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    height: 3px;
}




#side-bar {
    width: 50px;
    background-color: var(--spot-side-bg);
    text-align: center;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    img {
        max-width: 70%;
    }

    span {
        display: none;
    }

    #profile {
        img {
            background-color: #77797e;
            border-radius: 50%;
        }
    }

}

#catalouge {
    width: calc(100% - 50px);
    overflow-y: auto;


    ul {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem;
    }

    h2,
    h5 {
        padding-left: 1rem;
        margin-bottom: 1rem;
    }

    h4 {
        margin-bottom: 1rem;
    }


}

#upgrade {
    padding: 2rem;
    background-color: var(--spot-upgrade-bg);
    text-align: end;

    a {
        font-size: 12px;
        color: white;
        text-decoration: none;
        padding: 0.5rem 2rem;
        border: 1px solid white;
        border-radius: 30px;
    }
}

.albums {

    .col-6 {
        margin-bottom: 2rem;
    }

    img {
        max-width: 90%;
        margin-bottom: 1rem;
    }
}

footer {
    padding: 0.5rem;
    font-size: 10px;

    #song {
        align-items: center;
        font-size: 14px;
        width: 25%;
        margin: auto;

        img {
            width: 30%;
            margin-right: 5px;
        }

        i {

            color: #77797e;

        }
    }

    #player {
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;


        ul {
            gap: 1rem;
            margin-bottom: 1rem;
            color: white;
            font-size: 25px;
        }

        #player-bar {
            li {
                font-size: 10px;
            }

            #player-rule {
                width: 130px;
                border-radius: 30px;
                margin: 0 1rem;
                background-color: #77797e;
                height: 3px;
            }
        }
    }

    #volume {
        margin: auto;
        align-items: center;

        ul {
            gap: 1rem;

            li {
                color: white;
            }
        }

        #volume-rule {
            margin-left: 1rem;
            width: 85px;
            height: 3px;
            border-radius: 30px;
            background-color: #77797e;

        }
    }

}